@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content-wrap">
    <div id="main">
        <h2>The Archives</h2>
        <fieldset>
            <legend>
                Halo Videos
            </legend>
            <ul>
                <li><a href="http://www.zenfulneps.com/DireIceLockout.wmv">DireIce's Lockout</a></li>
                <li><a href="http://www.zenfulneps.com/direicesnipeSJF.wmv">DireIce's Sniping</a></li>
            </ul>
        </fieldset>
        <br />
        <fieldset>
            <legend>
                Unreal Tournament 2003 Maps by DireIce
            </legend>
            <ul>
                <li><a href="http://www.zenfulneps.com/UT2K3Maps/CTF-BloodGulchBeta1.zip">CTF Blood Gulch Beta</a></li>
                <li><a href="http://www.zenfulneps.com/UT2K3Maps/DM-HangEmHighBeta1.zip">Hang'em High Beta</a></li>
            </ul>
        </fieldset>
        <br />
        <fieldset>
            <legend>
                Unreal Tournament Maps by DireIce
            </legend>
            <ul>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-Bullet.zip">CTF Bullet</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-Condemned-Cidom.zip">CTF Condemned Cidom</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-DarkTowersV1a.zip">CTF Dark Towers</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-EnemyAtTheGatesV2.zip">CTF Enemy at the Gates</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-HiSpeedV1a.zip">CTF High Speed</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-OceanFloorV2.zip">CTF Ocean Floor</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-OfMiceAndMen.zip">CTF Of Mice And Men</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-Overlord.zip">CTF Overlord</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-Sesmar.zip">CTF Sesmar</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-WithoutPurpose.zip">CTF Without Purpose</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/CTF-WolfsBay.zip">CTF Wolfs Bay</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/DM-EnemyAtTheGatesV2.zip">DM Enemy at the Gates</a></li>
            </ul>
        </fieldset>
        <br />
        <fieldset>
            <legend>
                Unreal Tournament Jail Break MOD Maps
            </legend>
            <ul>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-DarkTowers-III.zip">Dark Towers</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-DI-100-BioForge.zip">BioForge</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-DI-100-CarpeDiem.zip">Carpe Diem</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-DI-200a-EnemyAtTheGates.zip">Enemy at the Gates</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-DI-100-EternalCave.zip">Eternal Cave</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-DI-100-Face.zip">Face</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-DI-100-MilitiaThunder.zip">Militia Thunder</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-November-III.zip">November</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-OfMiceAndMen-III.zip">Of Mice And Men</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-DI-200-PitofDespair.zip">Pit of Despair</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-LV-426-III.zip">LV 426</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-WareHouse-III.zip">Warehouse</a></li>
                <li><a href="http://www.zenfulneps.com/UTMaps/JB-WithoutPurpose.zip">Without Purpose</a></li>
            </ul>
        </fieldset>
	    
    </div>

    @Html.Partial("SideBar")

</div>


