@{
    ViewBag.Title = "D3 Season Cheat Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="content-wrap">
        <br />
        <h2>D3 Season Cheat Sheet</h2>
        <br />
        <strong>Leveling tips for a new season</strong>
        <ul>
            <li>Create seasonal hero, create game, take your followers weapon, leave game</li>
            <li>Complete challenge rift</li>
            <li>Open cache (35 DBs & other mats)</li>
            <li>Level up Blacksmith & Mystic</li>
            <li>Spend blood shards (<a href="https://www.d3planner.com/game/63573/kadala" target="_blank">Blood Shards</a>)</li>
            <li>Complete an easy boss bounty for yellow items (Zultan Kulle, Maghda, etc)</li>
            <li>Go get Kanai's cube in Act 3 Ruins of Sescheron</li>
            <li>At level 8, craft new weapon and continue to upgrade to a new weapon every 5 levels</li>
            <li>Buy +dmg rings and amulets at lvl 10</li>
            <li>At level 30, upgrade a crafted level 70 weapon in cube. If you got an ancient weapon, reroll reduced level requirement by 40 otherwise reroll to 30</li>
            <li>Craft a 70 2H with life on hit and a slowing effect as the secondary. Reroll (max tries 4, then craft another) the OTHER secondary to the best reduced level requirement you can get.</li>
            <li>Do rifts on hard until you reach your lvl 70 weapon then move to at least T1</li>
            <li>You can also do massacre bonuses in Halls of Agony, or the cleave strategy on T6</li>
            <li>Craft a new 2H until you reach your lvl 70 weapon</li>
            <li>Once 70, complete season journey for set and do low level GRs to get legendary gems</li>
            <li>Save trash ancient items for use with Legacy of Dreams gem</li>
        </ul>
        <br />
        <strong>What to upgrade</strong><br />
        Necro 2H Scythe<br />
        Demon Hunter 1H Dagger<br />
        Witch Doctor  Mojo (or VD Masks)<br />
        Wizard 1H Wand<br />
        Barb 1H Mighty Weapon<br />
        Monk 2H Daibo<br />
        Crusader Crusader Shield<br />
        <br />
        <br />
    </div>
