@{
    ViewBag.Title = "Dead Comedians";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<div id="content-wrap">
				
	    <div id="main">
	        
			<center>
				<script type="text/javascript"><!--
				    google_ad_client = "pub-5663665114572954";
				    /* 468x60, created 10/13/10 */
				    google_ad_slot = "1486764455";
				    google_ad_width = 468;
				    google_ad_height = 60;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</center>
	        <br />
			<h1>Drop-Dead Comedians</h1>
	        <p>Here are some of the great comedians who are no longer with us.</p>

	        <table>
	            <tr><td>
	                <img src="http://www.zenfulneps.com/images/comedians/hedberg.jpg" Width="75" class="float-left" />
	                <h3>1. Mitch Hedberg</h3><div class="subinfo">(1968-2005)</div>
	            </td></tr>
	            <tr><td>
                    <ul class="myul22">
                        <li class="myli22">Full Name: Mitchell Lee Hedberg</li>
                        <li class="myli22">Age: 37</li>
                        <li class="myli22">Humor Type: Observational comedy, surreal humor, word play</li>
                        <li class="myli22">Quote Joke: <i class="ItalQuote">“An escalator can never break: it can only become stairs. You would never see an Escalator 
                        Temporarily Out Of Order sign, just Escalator Temporarily Stairs. Sorry for the convenience.”</i></li>
                        <li class="myli22">Cause of Death: Multiple drug toxicity in the form of a cocaine and heroin "speedball"</li>
                        <li class="myli22">Website: <a href="http://www.mitchhedberg.net" target="_blank">www.mitchhedberg.net</a></li>
                    </ul>
	            </td></tr>
	        </table>
	        
            <table>
	            <tr><td>
                    <img src="http://www.zenfulneps.com/images/comedians/schimmel.jpg" Width="75" class="float-left" />
                    <h3>2. Robert Schimmel</h3><div class="subinfo">(1950-2010)</div>
	            </td></tr>
	            <tr><td>
                <ul class="myul22">
                    <li class="myli22">Full Name: Robert George Schimmel</li>
                    <li class="myli22">Age: 60</li>
                    <li class="myli22">Humor Type:  X-rated, controversial</li>
                    <li class="myli22">Quote Joke: <i class="ItalQuote">“What do you say when your friends come to visit and the dog starts humping their leg. 
                    Well, if it’s a pit bull, you say, “You better let him finish.”</i></li>
                    <li class="myli22">Cause of Death: Died of injuries sustained in a car accident</li>
                    <li class="myli22">Website: <a href="http://www.robertschimmel.com/" target="_blank">www.robertschimmel.com</a></li>
                </ul>
	            </td></tr>
	        </table>

            <table>
	            <tr><td>
                    <img src="http://www.zenfulneps.com/images/comedians/carlin.jpg" Width="75" class="float-left" />
                    <h3>3. George Carlin</h3><div class="subinfo">(1937-2008)</div>
	            </td></tr>
	            <tr><td>
                <ul class="myul22">
                    <li class="myli22">Full Name: George Denis Patrick Carlin</li>
                    <li class="myli22">Age: 71</li>
                    <li class="myli22">Humor Type: Observational comedy, wit & word play, political satire</li>
                    <li class="myli22">Quote Joke: <i class="ItalQuote">“Ever notice that anyone going slower than you is an idiot, 
                    but anyone going faster than you is a maniac?”</i></li>
                    <li class="myli22">Cause of Death: Heart failure</li>
                    <li class="myli22">Website: <a href="http://www.georgecarlin.com" target="_blank">www.georgecarlin.com</a></li>
                </ul>
	            </td></tr>
	        </table>

            <table>
	            <tr><td>
                    <img src="http://www.zenfulneps.com/images/comedians/hicks.jpg" Width="75" class="float-left" />
                    <h3>4. Bill Hicks</h3><div class="subinfo">(1961-1994)</div>
	            </td></tr>
	            <tr><td>
                    <ul class="myul22">
                        <li class="myli22">Full Name: William Melvin Hicks</li>
                        <li class="myli22">Age: 32</li>
                        <li class="myli22">Humor Type: Observational comedy, black comedy, satire/political satire</li>
                        <li class="myli22">Quote Joke: <i class="ItalQuote">“How come people always flip and think they're Jesus? Why not Buddha? 
                        Particularly in America, where more people resemble Buddha than Jesus. 'Ah'm BUDDHA!' 'You're Bubba!' 
                        'Ah'm Buddha now..All I gotta do is change 3 letters on ma belt...”</i></li>
                        <li class="myli22">Cause of Death: Pancreatic Cancer</li>
                        <li class="myli22">Website: <a href="http://www.billhicks.com" target="_blank">www.billhicks.com</a></li>
                    </ul>
	            </td></tr>
	        </table>

            <table>
	            <tr><td>
                    <img src="http://www.zenfulneps.com/images/comedians/Giraldo.jpg" Width="75" class="float-left" />
                    <h3>5. Greg Giraldo</h3><div class="subinfo">(1965–2010)</div>
	            </td></tr>
	            <tr><td>
                    <ul class="myul22">
                        <li class="myli22">Full Name: Greg Giraldo</li>
                        <li class="myli22">Age: 44</li>
                        <li class="myli22">Humor Type: Roast comedian, black comedy, surreal</li>
                        <li class="myli22">Quote Joke: <i class="ItalQuote">“You try not to have a favorite when you have sons or kids.
                         Can’t have a favorite. Can’t let them know know if you do. I don’t. I treat my main son and the other two exactly the same way.”</i></li>
                        <li class="myli22">Cause of Death: Overdosed on prescription medication</li>
                        <li class="myli22">Website: <a href="http://www.greggiraldo.com" target="_blank">www.greggiraldo.com</a></li>
                    </ul>
	            </td></tr>
	        </table>

            <table>
	            <tr><td>
                    <img src="http://www.zenfulneps.com/images/comedians/Kinison.jpg" Width="75" class="float-left" />
                    <h3>6. Sam Kinison</h3><div class="subinfo">(1953–1992)</div>
	            </td></tr>
	            <tr><td>
                    <ul class="myul22">
                        <li class="myli22">Full Name: Samuel Burl Kinison</li>
                        <li class="myli22">Age: 38</li>
                        <li class="myli22">Humor Type: Black, satire, observational, insult comedy</li>
                        <li class="myli22">Quote Joke: <i class="ItalQuote">“I don’t worry about terrorism. I was married for two years.”</i></li>
                        <li class="myli22">Cause of Death: Died of injuries sustained from being struck by a drunk driver.</li>
                        <li class="myli22">Website: <a href="http://www.SamKinison.org" target="_blank">www.samkinison.org</a></li>
                    </ul>
	            </td></tr>
	        </table>

            <table>
	            <tr><td>
                    <img src="http://www.zenfulneps.com/images/comedians/Jeni.jpg" Width="75" class="float-left" />
                    <h3>7. Richard Jeni</h3><div class="subinfo">(1957–2007)</div>
	            </td></tr>
	            <tr><td>
                    <ul class="myul22">
                        <li class="myli22">Full Name: Richard John Colangelo</li>
                        <li class="myli22">Age: 49</li>
                        <li class="myli22">Humor Type: Improv</li>
                        <li class="myli22">Quote Joke: <i class="ItalQuote">“I think that's how Chicago got started. A bunch of
                        people in New York said, 'Gee, I'm enjoying the crime and the poverty, but it just isn't cold enough. Let's go west.”</i></li>
                        <li class="myli22">Cause of Death: Suicide</li>
                    </ul>
	            </td></tr>
	        </table>

            <table>
	            <tr><td>
                    <img src="http://www.zenfulneps.com/images/comedians/pryor.jpg" Width="75" class="float-left" />
                    <h3>8. Richard Pryor</h3><div class="subinfo">(1940–2005)</div>
	            </td></tr>
	            <tr><td>
                    <ul class="myul22">
                        <li class="myli22">Full Name: Richard Franklin Lennox Thomas Pryor III</li>
                        <li class="myli22">Age: 65</li>
                        <li class="myli22">Humor Type: Satire, observational, improv, character</li>
                        <li class="myli22">Quote Joke: <i class="ItalQuote">“When that fire hit your ass, it will sober your ass up quick! I saw something, 
                        I went, 'Well, that's a pretty blue. You know what? That looks like fire!' Fire is inspirational. 
                        They should use it in the Olympics, because I ran the 100 in 4.3.”</i></li>
                        <li class="myli22">Cause of Death: Cardiac arrest</li>
                        <li class="myli22">Website: <a href="http://www.RichardPryor.com/" target="_blank">www.richardpryor.com</a></li>
                    </ul>
	            </td></tr>
	        </table>

            <table>
	            <tr><td>
                    <img src="http://www.zenfulneps.com/images/comedians/dangerfield.jpg" Width="75" class="float-left" />
                    <h3>9. Rodney Dangerfield</h3><div class="subinfo">(1921–2004)</div>
	            </td></tr>
	            <tr><td>
                    <ul class="myul22">
                        <li class="myli22">Full Name: Rodney Dangerfield (born Jack Cohen)</li>
                        <li class="myli22">Age: 82</li>
                        <li class="myli22">Humor Type: One-liners, word play, black</li>
                        <li class="myli22">Quote Joke: <i class="ItalQuote">“When I was a kid I got no respect. The time I was kidnapped, 
                        and the kidnappers sent my parents a note they said, 'We want five thousand dollars or you’ll see your kid again.'”</i></li>
                        <li class="myli22">Cause of Death: Complications from brain surgery</li>
                        <li class="myli22">Website: <a href="http://www.rodney.com/" target="_blank">www.rodney.com</a></li>
                    </ul>
	            </td></tr>
	        </table>

            <table>
	            <tr><td>
                    <img src="http://www.zenfulneps.com/images/comedians/hartman.jpg" Width="75" class="float-left" />
                    <h3>10. Phil Hartman</h3><div class="subinfo">(1948–1998)</div>
	            </td></tr>
	            <tr><td>
                    <ul class="myul22">
                        <li class="myli22">Full Name: Philip Edward Hartman</li>
                        <li class="myli22">Age: 49</li>
                        <li class="myli22">Humor Type: Sketch, character, voice</li>
                        <li class="myli22">Quote Joke: <i class="ItalQuote">“I benefit from the Mr. Potato Head syndrome. 
                        Put a wig and a nose and glasses on me, and I disappear.”</i></li>
                        <li class="myli22">Cause of Death: Murdered by wife</li>
                    </ul>
	            </td></tr>
	        </table>

	    </div>

        @Html.Partial("SideBar")
		
	</div>
