<table width='100%' border="0" cellpadding="0" cellspacing="0">
    <tr bgcolor='#eeeeee'>
        <td>
            <table width='100%' cellpadding='2' cellspacing='1' border='0'>
                <tr class='tablehdr'>
                    <td colspan='5' align='center' valign='middle' nowrap>TEAM DEFENSE / ST</td>
                </tr>
                <tr class='tableclmhdr'>
                    <td align='center' nowrap><b></b></td>
                    <td align='center' nowrap><b>Rank</b></td>
                    <td align='left' valign='middle' nowrap><b>Player</b></td>
                    <td align='center' nowrap><b>Bye</b></td>
                    <td align='center' nowrap='nowrap' id='Td4'><b>ADP-12</b></td>
                </tr>

                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken" /></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">1</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9017&amp;LeagueID=1">Arizona Cardinals</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_9017' class="sort1" align="center" bgcolor="#ffffff">11.11</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken" /></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">2</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9009&amp;LeagueID=1">Denver Broncos</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_9009' class="sort1" align="center" bgcolor="#f7f7f7">9.07</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">3</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9010&amp;LeagueID=1">Kansas City Chiefs</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_9010' class="sort1" align="center" bgcolor="#ffffff">10.06</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">4</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9016&amp;LeagueID=1">Philadelphia Eagles</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_9016' class="sort1" align="center" bgcolor="#f7f7f7">14.06</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 2</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9002&amp;LeagueID=1">Miami Dolphins</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_9002' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9003&amp;LeagueID=1">New England Patriots</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_9003' class="sort1" align="center" bgcolor="#f7f7f7">11.03</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">7</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9013&amp;LeagueID=1">Seattle Seahawks</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_9013' class="sort1" align="center" bgcolor="#ffffff">10.10</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9015&amp;LeagueID=1">New York Giants</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_9015' class="sort1" align="center" bgcolor="#f7f7f7">12.07</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9028&amp;LeagueID=1">Carolina Panthers</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_9028' class="sort1" align="center" bgcolor="#ffffff">13.02</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9021&amp;LeagueID=1">Green Bay Packers</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_9021' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9029&amp;LeagueID=1">Jacksonville Jaguars</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_9029' class="sort1" align="center" bgcolor="#ffffff">14.08</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">12</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9031&amp;LeagueID=1">Houston Texans</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">7</td>
                    <td id='showadp_9031' class="sort1" align="center" bgcolor="#f7f7f7">10.03</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">13</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9022&amp;LeagueID=1">Minnesota Vikings</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_9022' class="sort1" align="center" bgcolor="#ffffff">11.07</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">14</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9033&amp;LeagueID=1">Los Angeles Chargers</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_9033' class="sort1" align="center" bgcolor="#f7f7f7">14.09</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">15</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9000&amp;LeagueID=1">Buffalo Bills</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_9000' class="sort1" align="center" bgcolor="#ffffff">15.03</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">16</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9023&amp;LeagueID=1">Tampa Bay Buccaneers</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_9023' class="sort1" align="center" bgcolor="#f7f7f7">14.09</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">17</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9030&amp;LeagueID=1">Baltimore Ravens</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_9030' class="sort1" align="center" bgcolor="#ffffff">14.04</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">18</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9018&amp;LeagueID=1">Washington Redskins</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_9018' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">19</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9032&amp;LeagueID=1">Los Angeles Rams</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_9032' class="sort1" align="center" bgcolor="#ffffff">14.08</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 3</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">20</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9011&amp;LeagueID=1">Oakland Raiders</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_9011' class="sort1" align="center" bgcolor="#f7f7f7">14.08</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">21</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9008&amp;LeagueID=1">Pittsburgh Steelers</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_9008' class="sort1" align="center" bgcolor="#ffffff">14.09</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">22</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9001&amp;LeagueID=1">Indianapolis Colts</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_9001' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">23</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9007&amp;LeagueID=1">Tennessee Titans</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_9007' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">24</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9024&amp;LeagueID=1">Atlanta Falcons</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_9024' class="sort1" align="center" bgcolor="#f7f7f7">14.08</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">25</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9014&amp;LeagueID=1">Dallas Cowboys</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_9014' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">26</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9005&amp;LeagueID=1">Cincinnati Bengals</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td id='showadp_9005' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 4</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">27</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9020&amp;LeagueID=1">Detroit Lions</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">7</td>
                    <td id='showadp_9020' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">28</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9027&amp;LeagueID=1">San Francisco 49ers</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_9027' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">29</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9026&amp;LeagueID=1">New Orleans Saints</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_9026' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">30</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9019&amp;LeagueID=1">Chicago Bears</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_9019' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">31</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="/stats/players?TeamID=9006&amp;LeagueID=1">Cleveland Browns</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_9006' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">32</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="/stats/players?TeamID=9004&amp;LeagueID=1">New York Jets</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_9004' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
