<table width='100%' border="0" cellpadding="0" cellspacing="0">
    <tr bgcolor='#eeeeee'>
        <td>
            <table width='100%' cellpadding='2' cellspacing='1' border='0'>
                <tr class='tablehdr'>
                    <td colspan='6' align='center' valign='middle' nowrap>KICKERS</td>
                </tr>
                <tr class='tableclmhdr'>
                    <td align='center' nowrap><b></b></td>
                    <td align='center' nowrap><b>Rank</b></td>
                    <td align='left' valign='middle' nowrap><b>Player</b></td>
                    <td align='center' nowrap><b>Tm</b></td>
                    <td align='center' nowrap><b>Bye</b></td>
                    <td align='center' nowrap='nowrap' id='Td3'></td>
                </tr>
                @Html.Raw(System.Web.HttpContext.Current.Session[ZenfulNeps.Controllers.FantasyDrafterController.Players.Kickers.ToString()])
            </table>
        </td>
    </tr>
</table>
