<table width='100%' border="0" cellpadding="0" cellspacing="0">
    <tr bgcolor='#eeeeee'>
        <td>
            <table width='100%' cellpadding='2' cellspacing='1' border='0'>
                <tr class='tablehdr'>
                    <td colspan='6' align='center' valign='middle' nowrap>QUARTERBACKS</td>
                </tr>
                <tr class='tableclmhdr'>
                    <td align='center' nowrap><b></b></td>
                    <td align='center' nowrap><b>Rank</b></td>
                    <td align='left' valign='middle' nowrap><b>Player</b></td>
                    <td align='center' nowrap><b>Tm</b></td>
                    <td align='center' nowrap><b>Bye</b></td>
                    <td align='center' nowrap='nowrap' id='showadp'></td>
                </tr>

                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">1</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#1">Aaron Rodgers</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">GB</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">7</TD>
                    <TD id='showadp_2480' class="sort1" ALIGN="center" BGCOLOR="#ffffff">3.06</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">2</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#2">Russell Wilson</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">SEA</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">7</TD>
                    <TD id='showadp_12349' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">5.10</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">3</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#3">Tom Brady</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">NE</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">11</TD>
                    <TD id='showadp_1812' class="sort1" ALIGN="center" BGCOLOR="#ffffff">5.02</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 2</strong></TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">4</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#4">Cam Newton</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">CAR</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">4</TD>
                    <TD id='showadp_11855' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">7.04</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">5</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#5">Drew Brees</A> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Brees is coming off his worst fantasy season since 2005 but still finished 13th in FPts/G among QBs."> </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">NO</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">6</TD>
                    <TD id='showadp_1937' class="sort1" ALIGN="center" BGCOLOR="#ffffff">6.05</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">6</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#6">Philip Rivers</A> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Despite his lack of rushing stats, Rivers has been a top ten fantasy QB the last five seasons."> </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">LAC</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">8</TD>
                    <TD id='showadp_3062' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">9.08</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">7</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#7">Matthew Stafford</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">DET</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">6</TD>
                    <TD id='showadp_11001' class="sort1" ALIGN="center" BGCOLOR="#ffffff">9.02</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 3</strong></TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">8</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#8">Matt Ryan</A> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Can be counted on for 4000+ yards but wild swings in TD totals have made Ryan the QB17, QB3, QB21 the last 3 seasons."> </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">ATL</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">8</TD>
                    <TD id='showadp_2955' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">10.02</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">9</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#9">Deshaun Watson</A>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Watson (ACL) was on fire prior to injuring his knee Week 8. Will be overvalued in fantasy drafts, has injury concerns, could also be a top 5 fantasy QB."></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">HOU</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">10</TD>
                    <TD id='showadp_16031' class="sort1" ALIGN="center" BGCOLOR="#ffffff">4.04</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">10</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#10">Patrick Mahomes</A> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: With above average weapons, it's easy to get excited about Mahomes. Mid-range QB1 status is possible."> <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: With above average weapons, it's easy to get excited about Mahomes. Mid-range QB1 status is possible."></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">KC</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">12</TD>
                    <TD id='showadp_15946' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">11.02</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">11</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#11">Ben Roethlisberger</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">PIT</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">7</TD>
                    <TD id='showadp_3066' class="sort1" ALIGN="center" BGCOLOR="#ffffff">10.06</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">12</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#12">Kirk Cousins</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">MIN</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">10</TD>
                    <TD id='showadp_12376' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">7.10</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 4</strong></TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">13</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#13">Jimmy Garoppolo</A> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Averaged 308 yds, 1.4 TDs in five games as starter last season. Supporting cast is mediocre, but has QB1 upside."> </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">SF</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">11</TD>
                    <TD id='showadp_14191' class="sort1" ALIGN="center" BGCOLOR="#ffffff">9.03</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">14</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#14">Blake Bortles</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">JAC</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">9</TD>
                    <TD id='showadp_14125' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">14.06</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">15</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#15">Carson Wentz</A>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Wentz (ACL) goal is to be ready for Week 1. Surgery was on December 13th. Assuming he'll return QB1 value is risky."></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">PHI</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">9</TD>
                    <TD id='showadp_15741' class="sort1" ALIGN="center" BGCOLOR="#ffffff">6.10</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">16</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#16">Jared Goff</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">LAR</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">12</TD>
                    <TD id='showadp_15589' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">11.03</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">17</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#17">Marcus Mariota</A> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Coming off an atrocious season (13 passing TDs), new OC (LaFleur) and philosophy is reason for optimism."> </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">TEN</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">8</TD>
                    <TD id='showadp_15240' class="sort1" ALIGN="center" BGCOLOR="#ffffff">11.12</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><img SRC="../common/icn_arrow_Up_medium.gif" width="11" height="9" border="0"></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">18</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#18">Andrew Luck</A>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Luck (shoulder) threw a football on 6/12. He's on my 'do not draft' list until further notice."></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">IND</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">9</TD>
                    <TD id='showadp_12276' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">8.01</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">19</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#19">Dak Prescott</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">DAL</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">8</TD>
                    <TD id='showadp_15681' class="sort1" ALIGN="center" BGCOLOR="#ffffff">13.03</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">20</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#20">Ryan Tannehill</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">MIA</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">11</TD>
                    <TD id='showadp_12283' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">21</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#21">Alex Smith</A>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Coming off career year, hard to imagine Smith repeating as he learns a new scheme and players. QB2 value."></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">WAS</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">4</TD>
                    <TD id='showadp_2471' class="sort1" ALIGN="center" BGCOLOR="#ffffff">12.05</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">22</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#22">Case Keenum</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">DEN</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">10</TD>
                    <TD id='showadp_15042' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">14.01</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 5</strong></TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">23</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#23">Eli Manning</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">NYG</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">9</TD>
                    <TD id='showadp_3060' class="sort1" ALIGN="center" BGCOLOR="#ffffff">13.11</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">24</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#24">Andy Dalton</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">CIN</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">9</TD>
                    <TD id='showadp_11889' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">25</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#25">Mitchell Trubisky</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">CHI</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">5</TD>
                    <TD id='showadp_16022' class="sort1" ALIGN="center" BGCOLOR="#ffffff">14.06</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">26</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#26">Derek Carr</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">OAK</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">7</TD>
                    <TD id='showadp_14145' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">12.02</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 6</strong></TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">27</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#27">Jameis Winston</A>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Will face 3-game suspension to start the season."></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">TB</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">5</TD>
                    <TD id='showadp_15353' class="sort1" ALIGN="center" BGCOLOR="#ffffff">14.06</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">28</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#28">Tyrod Taylor</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">CLE</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">11</TD>
                    <TD id='showadp_12034' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">14.06</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">29</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#29">Joe Flacco</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">BAL</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">10</TD>
                    <TD id='showadp_2913' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">30</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#30">Nick Foles</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">PHI</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">9</TD>
                    <TD id='showadp_12362' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">31</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#31">Josh McCown</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">NYJ</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">11</TD>
                    <TD id='showadp_2121' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">32</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#32">Sam Bradford</A>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Injury risky is severe with Bradford. Last timed he played 16 games was in 2012. QB2 at best."></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">ARI</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">9</TD>
                    <TD id='showadp_11411' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">33</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#33">AJ McCarron</A>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Will head to camp with a slight edge over Peterman and Allen, but starting job is up for grabs."></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">BUF</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">11</TD>
                    <TD id='showadp_14256' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">34</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#34">Ryan Fitzpatrick</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">TB</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">5</TD>
                    <TD id='showadp_2548' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">35</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#35">Josh Allen</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">BUF</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">11</TD>
                    <TD id='showadp_16228' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">36</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#36">Baker Mayfield</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">CLE</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">11</TD>
                    <TD id='showadp_16116' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">14.09</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 7</strong></TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">37</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#37">Josh Rosen</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">ARI</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">9</TD>
                    <TD id='showadp_16229' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">38</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#38">Sam Darnold</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">NYJ</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">11</TD>
                    <TD id='showadp_16316' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">39</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#39">Jacoby Brissett</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">IND</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">9</TD>
                    <TD id='showadp_15522' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">40</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#40">Lamar Jackson</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">BAL</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">10</TD>
                    <TD id='showadp_16255' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">13.02</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">41</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#41">Blaine Gabbert</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">TEN</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">8</TD>
                    <TD id='showadp_11864' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">42</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#42">Chase Daniel</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">CHI</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">5</TD>
                    <TD id='showadp_11322' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">43</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#43">Brandon Weeden</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">HOU</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">10</TD>
                    <TD id='showadp_12297' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">44</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#44">Landry Jones</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">PIT</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">7</TD>
                    <TD id='showadp_13211' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">45</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#45">Matt Barkley</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">CIN</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">9</TD>
                    <TD id='showadp_13022' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">46</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#46">Colt McCoy</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">WAS</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">4</TD>
                    <TD id='showadp_11495' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 8</strong></TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">47</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#47">Davis Webb</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">NYG</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">9</TD>
                    <TD id='showadp_16033' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">48</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#48">Austin Davis</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">SEA</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">7</TD>
                    <TD id='showadp_12805' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">49</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#49">Sean Mannion</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">LAR</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">12</TD>
                    <TD id='showadp_15239' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">50</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#50">C.J. Beathard</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">SF</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">11</TD>
                    <TD id='showadp_15817' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">51</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#51">Trevor Siemian</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">MIN</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">10</TD>
                    <TD id='showadp_15309' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">52</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#52">EJ Manuel</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">OAK</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">7</TD>
                    <TD id='showadp_13255' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">53</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#53">Brock Osweiler</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">MIA</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">11</TD>
                    <TD id='showadp_12332' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">54</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#54">Chad Henne</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">KC</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">12</TD>
                    <TD id='showadp_2923' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">55</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#55">Cody Kessler</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">JAC</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">9</TD>
                    <TD id='showadp_15637' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">56</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#56">Geno Smith</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">LAC</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">8</TD>
                    <TD id='showadp_13362' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">57</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#57">DeShone Kizer</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">GB</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">7</TD>
                    <TD id='showadp_15930' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">58</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#58">Matt Schaub</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">ATL</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">8</TD>
                    <TD id='showadp_3101' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">59</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#59">Paxton Lynch</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">DEN</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">10</TD>
                    <TD id='showadp_15652' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">60</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#60">Brian Hoyer</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">NE</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">11</TD>
                    <TD id='showadp_11285' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">61</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#ffffff"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#61">Taylor Heinicke</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">CAR</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#ffffff">4</TD>
                    <TD id='showadp_15411' class="sort1" ALIGN="center" BGCOLOR="#ffffff">-</TD>
                </TR>
                <tr class="note-td">
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7"><input type="checkbox" class="taken" /></TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">62</TD>
                    <TD class="sort1" ALIGN="LEFT" BGCOLOR="#f7f7f7"><A HREF="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#62">Cooper Rush</A>  </TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">DAL</TD>
                    <TD class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">8</TD>
                    <TD id='showadp_14996' class="sort1" ALIGN="center" BGCOLOR="#f7f7f7">-</TD>
                </TR>


            </table>
        </td>
    </tr>
</table>