<table width='100%' border="0" cellpadding="0" cellspacing="0">
    <tr bgcolor='#eeeeee'>
        <td>
            <table width='100%' cellpadding='2' cellspacing='1' border='0'>
                <tr class='tablehdr'>
                    <td colspan='6' align='center' valign='middle' nowrap>QUARTERBACKS</td>
                </tr>
                <tr class='tableclmhdr'>
                    <td align='center' nowrap><b></b></td>
                    <td align='center' nowrap><b>Rank</b></td>
                    <td align='left' valign='middle' nowrap><b>Player</b></td>
                    <td align='center' nowrap><b>Tm</b></td>
                    <td align='center' nowrap><b>Bye</b></td>
                    <td align='center' nowrap='nowrap' id='showadp'></td>
                </tr>

                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">1</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#1">Aaron Rodgers</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">GB</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_2480' class="sort1" align="center" bgcolor="#ffffff">2.08</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken" /></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">2</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#2">Tom Brady</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">NE</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_1812' class="sort1" align="center" bgcolor="#f7f7f7">3.05</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">3</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#3">Drew Brees</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NO</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_1937' class="sort1" align="center" bgcolor="#ffffff">4.06</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 2</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">4</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#4">Jameis Winston</a> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Offensive weapons for Winston: Mike Evans, DeSean Jackson, Cameron Brate, O.J. Howard."> </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">TB</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_15353' class="sort1" align="center" bgcolor="#f7f7f7">7.07</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#5">Russell Wilson</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">SEA</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_12349' class="sort1" align="center" bgcolor="#ffffff">6.11</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#6">Matt Ryan</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">ATL</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_2955' class="sort1" align="center" bgcolor="#f7f7f7">5.08</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 3</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">7</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#7">Andrew Luck</a>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Luck (shoulder surgery) still has no timetable for return. It's looking like he may miss a week or two to start the season."></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">IND</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_12276' class="sort1" align="center" bgcolor="#ffffff">7.12</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#8">Philip Rivers</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">LAC</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_3062' class="sort1" align="center" bgcolor="#f7f7f7">9.12</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#9">Marcus Mariota</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">TEN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_15240' class="sort1" align="center" bgcolor="#ffffff">8.06</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#10">Matthew Stafford</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">DET</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">7</td>
                    <td id='showadp_11001' class="sort1" align="center" bgcolor="#f7f7f7">10.07</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#11">Ben Roethlisberger</a> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Ben's best statistical (fantasy) season came in Martavis Bryant's rookie season (2014)."> </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">PIT</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_3066' class="sort1" align="center" bgcolor="#ffffff">9.08</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">12</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#12">Cam Newton</a>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Newton's rushing numbers (career low in 2016) could dip even further with a change in offensive philosophy."></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">CAR</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_11855' class="sort1" align="center" bgcolor="#f7f7f7">8.09</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">13</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#13">Andy Dalton</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CIN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_11889' class="sort1" align="center" bgcolor="#ffffff">11.10</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">14</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#14">Derek Carr</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">OAK</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_14145' class="sort1" align="center" bgcolor="#f7f7f7">6.09</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">15</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#15">Kirk Cousins</a>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Cousins could struggle a bit after losing two key passing game pieces (Jackson and Garcon)."></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">WAS</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_12376' class="sort1" align="center" bgcolor="#ffffff">8.03</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 4</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">16</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#16">Dak Prescott</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">DAL</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td id='showadp_15681' class="sort1" align="center" bgcolor="#f7f7f7">10.08</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">17</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#17">Eli Manning</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NYG</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_3060' class="sort1" align="center" bgcolor="#ffffff">11.05</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">18</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#18">Tyrod Taylor</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">BUF</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td id='showadp_12034' class="sort1" align="center" bgcolor="#f7f7f7">12.10</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">19</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#19">Carson Wentz</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">PHI</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_15741' class="sort1" align="center" bgcolor="#ffffff">12.05</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">20</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#20">Carson Palmer</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">ARI</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_2254' class="sort1" align="center" bgcolor="#f7f7f7">13.02</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 5</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">21</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#21">Alex Smith</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">KC</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_2471' class="sort1" align="center" bgcolor="#ffffff">14.05</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">22</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#22">Joe Flacco</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">BAL</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_2913' class="sort1" align="center" bgcolor="#f7f7f7">14.11</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">23</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#23">Jay Cutler</a>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Cutler reunites with HC Adam Gase but is nothing more than a low-end QB2 with matchup-dependent QB1 upside."></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">MIA</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_2608' class="sort1" align="center" bgcolor="#ffffff">14.04</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">24</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#24">Sam Bradford</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">MIN</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_11411' class="sort1" align="center" bgcolor="#f7f7f7">14.08</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 6</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">25</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#25">Trevor Siemian</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">DEN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_15309' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">26</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#26">Jared Goff</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">LAR</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_15589' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">27</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#27">Brian Hoyer</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">SF</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_11285' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">28</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#28">Chad Henne</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">JAC</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_2923' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">29</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#29">Josh McCown</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NYJ</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_2121' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">30</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#30">DeShone Kizer</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">CLE</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_15930' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">31</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#31">Mike Glennon</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CHI</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_13129' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 7</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">32</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#32">Tom Savage</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">HOU</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">7</td>
                    <td id='showadp_14307' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">33</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#33">Mitchell Trubisky</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CHI</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_16022' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">34</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#34">Deshaun Watson</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">HOU</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">7</td>
                    <td id='showadp_16031' class="sort1" align="center" bgcolor="#f7f7f7">14.07</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">35</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#35">Matt Barkley</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">SF</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_13022' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">36</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#36">Jimmy Garoppolo</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">NE</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_14191' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">37</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#37">Blake Bortles</a>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Bortles is close to losing his starting QB job."></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">JAC</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_14125' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">38</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#38">Sean Mannion</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">LAR</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_15239' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">39</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#39">Cody Kessler</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CLE</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_15637' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">40</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#40">Paxton Lynch</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">DEN</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_15652' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">41</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#41">Brock Osweiler</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CLE</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_12332' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">42</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#42">Scott Tolzien</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">IND</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_12146' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">43</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#43">Patrick Mahomes</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">KC</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_15946' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 8</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">44</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#44">Bryce Petty</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">NYJ</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_15277' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">45</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#45">Matt Moore</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">MIA</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_2839' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">46</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#46">Derek Anderson</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">CAR</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_2534' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">47</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#47">Landry Jones</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">PIT</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_13211' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">48</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#48">Drew Stanton</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">ARI</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_2766' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">49</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#49">Nathan Peterman</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">BUF</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_15977' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">50</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#50">Matt Cassel</a>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk"></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">TEN</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_2541' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">51</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#51">Case Keenum</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">MIN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_15042' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 9</strong></td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">52</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#52">Christian Hackenberg</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">NYJ</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_15595' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">53</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#53">Ryan Fitzpatrick</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">TB</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_2548' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">54</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#54">Trevone Boykin</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">SEA</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td id='showadp_14736' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">55</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#55">Nick Foles</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">PHI</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_12362' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">56</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#56">Brett Hundley</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">GB</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_15213' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">57</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#57">Geno Smith</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NYG</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_13362' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">58</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#58">Kellen Moore</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">DAL</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td id='showadp_15007' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">59</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#59">Chase Daniel</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NO</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_11322' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">60</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#60">Ryan Mallett</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">BAL</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_11928' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">61</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#61">Matt Schaub</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">ATL</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_3101' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
                <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">62</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=10&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#62">AJ McCarron</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">CIN</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td id='showadp_14256' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
            </table>
        </td>
    </tr>
</table>