		<div id="sidebar">
			<div style="text-align:center">
                <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=21&l=ur1&category=amazonhomepage&f=ifr&linkID=1a8fdeefdc35e6355d5ad993045ddda1&t=zenfulneps-20&tracking_id=zenfulneps-20" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>            </div>
			<h3>Zenful Menu</h3>
			<ul class="sidemenu">				
				<li><a href="../CompanionPlants/Index">Companion Planting Guide</a></li>
				<li><a href="../Recipes/Index">The Recipe Codex</a></li>
				<li><a href="../ZenfulNeps/MashSpargeWater">Mash & Sparge Water Calculator</a></li>
				<li><a href="../Brewing/Index">Brewing Efficiency Calculator</a></li>
				<li><a href="../ZenfulNeps/BodyFatCalculator">Body Fat Calculator</a></li>
			</ul>	
			<h3>Links</h3>
			<ul class="sidemenu">
				<li><a target="_blank" href="http://oldworldgardenfarms.com/">Old World Garden Farms</a></li>	
				<li><a target="_blank" href="http://brooklynbrewshop.com/themash/category/spentgrainchef/">Spent Grain Chef</a></li>	
				<li><a target="_blank" href="http://www.eattheweeds.com/">Eat The Weeds</a></li>	
				<li><a target="_blank" href="http://users.tinyonline.co.uk/gswithenbank/unuwords.htm">Unusual Words</a></li>	
				<li><a target="_blank" href="http://www.botany.org/carnivorous_plants/">Carnivorous Plants Online</a></li>
				<li><a target="_blank" href="http://www.almanac.com/">The Old Farmer's Almanac</a></li>
				<li><a target="_blank" href="http://www.garden.org/">National Gardening Association</a></li>				
				<li><a target="_blank" href="http://www.pvponline.com/">PvP Online</a></li>
				<li><a target="_blank" href="http://www.evil-comic.com/">Evil Inc.</a></li>
				<li><a target="_blank" href="http://theoatmeal.com/">The Oatmeal</a></li>
				<li><a target="_blank" href="http://www.foxtrot.com/">Fox Trot</a></li>
				<li><a target="_blank" href="http://www.bluesnews.com/">Blues News</a></li>
				<li><a target="_blank" href="http://io9.com/">io9</a></li>
				<li><a target="_blank" href="http://unrealitymag.com/">Unreality Magazine</a></li>
				<li><a target="_blank" href="http://thechive.com/">The Chive</a></li>
			</ul>

@*			<h3>Extras</h3>
			<ul class="sidemenu">				
				<li><a href="../ZenfulNeps/DeadComedians">Dead Comedians</a></li>
				<li><a href="#">Famous Vampires</a></li>
				<li><a href="#">Candy of Yesteryear</a></li>					
			</ul>	
*@			
		    <h3>Wise Words</h3>
			<p>&quot; We cannot attain genuine peace of mind merely by seeking our own salvation while remaining indifferent to the welfare of others.&quot;</p>
					
			<p class="align-right">- Roshi Philip Kapleau</p>
			
			<!-- sidebar ends -->		
		</div>
