<table width='100%' border="0" cellpadding="0" cellspacing="0">
    <tr bgcolor='#eeeeee'>
        <td>
            <table width='100%' cellpadding='2' cellspacing='1' border='0'>
                <tr class='tablehdr'>
                    <td colspan='6' align='center' valign='middle' nowrap>TIGHT ENDS</td>
                </tr>
                <tr class='tableclmhdr'>
                    <td align='center' nowrap><b></b></td>
                    <td align='center' nowrap><b>Rank</b></td>
                    <td align='left' valign='middle' nowrap><b>Player</b></td>
                    <td align='center' nowrap bgcolor='#e0e0e0'><b>Tm</b></td>
                    <td align='center' nowrap><b>Bye</b></td>
                    <td align='center' nowrap='nowrap' id='Td2'><b>ADP-12</b></td>
                </tr>

               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">1</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#1">Rob Gronkowski</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">NE</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_11452' class="sort1" align="center" bgcolor="#f7f7f7">2.08</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 2</strong></td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">2</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#2">Travis Kelce</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">KC</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_13217' class="sort1" align="center" bgcolor="#ffffff">4.04</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">3</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#3">Greg Olsen</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">CAR</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_2761' class="sort1" align="center" bgcolor="#f7f7f7">5.03</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">4</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#4">Jimmy Graham</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">SEA</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_11505' class="sort1" align="center" bgcolor="#ffffff">5.10</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#5">Jordan Reed</a> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: One of the best at his position but has yet to play a full season since being drafted in 2013."> <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: One of the best at his position but has yet to play a full season since being drafted in 2013."></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">WAS</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_13325' class="sort1" align="center" bgcolor="#f7f7f7">5.08</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 3</strong></td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#6">Tyler Eifert</a>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: Eifert is  a true difference maker when on the field (18 TDs in last 21 games) but his injury risk makes him a gamble."></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CIN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_13101' class="sort1" align="center" bgcolor="#ffffff">6.09</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">7</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#7">Martellus Bennett</a> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: With a high TD upside, Bennett is a great flier late in drafts."> </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">GB</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_2892' class="sort1" align="center" bgcolor="#f7f7f7">7.05</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#8">Delanie Walker</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">TEN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_2663' class="sort1" align="center" bgcolor="#ffffff">7.09</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#9">Hunter Henry</a> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Don't be surprised if Henry out produces Gates this season."> </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">LAC</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_15603' class="sort1" align="center" bgcolor="#f7f7f7">9.07</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#10">Kyle Rudolph</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">MIN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_11897' class="sort1" align="center" bgcolor="#ffffff">8.09</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#11">Zach Ertz</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">PHI</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_13104' class="sort1" align="center" bgcolor="#f7f7f7">9.11</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 4</strong></td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">12</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=0#12">Jack Doyle</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">IND</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_13094' class="sort1" align="center" bgcolor="#ffffff">12.01</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">13</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#13">Eric Ebron</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">DET</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">7</td>
                    <td id='showadp_14165' class="sort1" align="center" bgcolor="#f7f7f7">12.08</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">14</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#14">Coby Fleener</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NO</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_12309' class="sort1" align="center" bgcolor="#ffffff">13.11</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">15</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#15">Jason Witten</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">DAL</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td id='showadp_2272' class="sort1" align="center" bgcolor="#f7f7f7">13.07</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">16</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#16">Austin Hooper</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">ATL</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_15610' class="sort1" align="center" bgcolor="#ffffff">13.08</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">17</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#17">Julius Thomas</a> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Thomas is reunited with HC Adam Gase who produced the tight end's best fantasy seasons in 2013 and 2014."> </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">MIA</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_11983' class="sort1" align="center" bgcolor="#f7f7f7">13.11</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">18</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#18">David Njoku</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CLE</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_15971' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">19</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#19">Charles Clay</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">BUF</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td id='showadp_12028' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">20</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#20">Antonio Gates</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">LAC</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_2373' class="sort1" align="center" bgcolor="#ffffff">14.06</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">21</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#21">Cameron Brate</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">TB</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_14543' class="sort1" align="center" bgcolor="#f7f7f7">13.12</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">22</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#22">Jared Cook</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">OAK</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_11089' class="sort1" align="center" bgcolor="#ffffff">13.05</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 5</strong></td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">23</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#23">C.J. Fiedorowicz</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">HOU</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">7</td>
                    <td id='showadp_14177' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">24</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=1#24">Erik Swoope</a> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside"> </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">IND</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_14760' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">25</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#25">Jermaine Gresham</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">ARI</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_11431' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">26</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#26">Evan Engram</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NYG</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_15862' class="sort1" align="center" bgcolor="#ffffff">14.05</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">27</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#27">Dwayne Allen</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">NE</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_12338' class="sort1" align="center" bgcolor="#f7f7f7">13.05</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">28</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#28">Vernon Davis</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">WAS</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_2606' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">29</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#29">Zach Miller</a>  <img src="../images/btn_caution2.gif" align="absbottom" width="15" height="15" border="0" title="Risk: The Bears tight end situation is something to avoid until we get further clarity."></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">CHI</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_11180' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">30</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#30">O.J. Howard</a> <img src="../images/btn_checkmark_green.gif" align="absbottom" width="15" height="15" border="0" title="Upside: Rookie TEs don't typically make fantasy impacts but Howard and Njoku (CLE) have the skills to buck the trend."> </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">TB</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_15904' class="sort1" align="center" bgcolor="#ffffff">11.09</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 6</strong></td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">31</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#31">Xavier Grimble</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">PIT</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_14775' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">32</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#32">Jesse James</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">PIT</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_15218' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">33</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#33">Trey Burton</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">PHI</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_14468' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">34</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#34">Austin Seferian-Jenkins</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NYJ</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_14311' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">35</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=2#35">Tyler Higbee</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">LAR</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_15605' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">37</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#37">Virgil Green</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">DEN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_12058' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">38</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#38">Ben Watson</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">BAL</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_3085' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">39</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#39">Gerald Everett</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">LAR</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_15865' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 7</strong></td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">40</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#40">Vance McDonald</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">SF</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_13269' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">41</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#41">Mychal Rivera</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">JAC</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_13336' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">42</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#42">Seth Devalve</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">CLE</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_15562' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">43</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#43">Jonnu Smith</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">TEN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_16003' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">44</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#44">George Kittle</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">SF</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_15929' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">45</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#45">Ryan Griffin</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">HOU</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">7</td>
                    <td id='showadp_15047' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">46</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#46">Marcedes Lewis</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">JAC</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_2612' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">47</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#47">Stephen Anderson</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">HOU</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">7</td>
                    <td id='showadp_14757' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">48</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=3#48">Josh Hill</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">NO</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_14427' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">49</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#49">Jordan Leggett</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NYJ</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_15940' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">50</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#50">Rhett Ellison</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">NYG</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_12402' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">51</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#51">Maxx Williams</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">BAL</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_15349' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">52</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#52">Richard Rodgers</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">GB</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_14302' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">53</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#53">Levine Toilolo</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">ATL</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">5</td>
                    <td id='showadp_13407' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">54</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#54">Garrett Celek</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">SF</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_14551' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">55</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#55">Michael Roberts</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">DET</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">7</td>
                    <td id='showadp_15988' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">56</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#56">Clive Walford</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">OAK</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_15338' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">57</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#57">Nick Vannett</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">SEA</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_15730' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">58</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#58">Dion Sims</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">CHI</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_13359' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">59</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#59">Nick O'Leary</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">BUF</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_15268' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">60</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=4#60">A.J. Derby</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">DEN</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_15153' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" colspan="6" align="center" bgcolor="#e0e0e0"><strong>Tier 8</strong></td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">61</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#61">Will Tye</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NYG</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">8</td>
                    <td id='showadp_14637' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">62</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#62">Troy Niklas</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">ARI</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_14273' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">63</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#63">Ross Travis</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">KC</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_14768' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">64</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#64">MarQueis Gray</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">MIA</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">11</td>
                    <td id='showadp_13139' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">65</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#65">Adam Shaheen</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CHI</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_15999' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">66</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#66">Jeff Heuerman</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">DEN</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_15208' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">67</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#67">Ed Dickson</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CAR</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">11</td>
                    <td id='showadp_11480' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">68</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#68">Lance Kendricks</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">GB</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_11901' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">69</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#69">Tyler Kroft</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CIN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_15233' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">70</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#70">Luke Willson</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">SEA</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">6</td>
                    <td id='showadp_13532' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">71</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#71">Brent Celek</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">PHI</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">10</td>
                    <td id='showadp_2803' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">72</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=5#72">Larry Donnell</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">BAL</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">10</td>
                    <td id='showadp_14397' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">73</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=6#73">James O'Shaughnessy</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">NE</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">9</td>
                    <td id='showadp_15270' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">74</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=6#74">Jace Amaro</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">TEN</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">8</td>
                    <td id='showadp_14108' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">75</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=6#75">C.J. Uzomah</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">CIN</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_15336' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">76</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=6#76">Bucky Hodges</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">MIN</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">9</td>
                    <td id='showadp_15897' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#ffffff">77</td>
                    <td class="sort1" align="LEFT" bgcolor="#ffffff"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=6#77">James Hanna</a>  </td>
                    <td class="sort1" align="center" bgcolor="#ffffff">DAL</td>
                    <td class="sort1" align="center" bgcolor="#ffffff">6</td>
                    <td id='showadp_12460' class="sort1" align="center" bgcolor="#ffffff">-</td>
                </tr>
               <tr class="note-td">
                    <td class="sort1" align="center" bgcolor="#ffffff"><input type="checkbox" class="taken"/></td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">78</td>
                    <td class="sort1" align="LEFT" bgcolor="#f7f7f7"><a href="?o=2&PosID=40&LeagueID=1&order_by=Rank&sort_order=ASC&cur_page=6#78">Eric Saubert</a>  </td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">ATL</td>
                    <td class="sort1" align="center" bgcolor="#f7f7f7">5</td>
                    <td id='showadp_15995' class="sort1" align="center" bgcolor="#f7f7f7">-</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
